<ns0:widget xmlns:ns0="http://www.w3.org/ns/widgets" xmlns:ns1="http://tizen.org/ns/widgets" id="https://tizenbrew.vercel.app" version="2.0.6" viewmodes="maximized">
    <ns0:access origin="*" subdomains="true" />
    <ns1:app-control>
        <ns1:src name="tizenbrew-ui/dist/index.html" reload="disable" />
        <ns1:operation name="http://samsung.com/appcontrol/operation/eden_resume" />
    </ns1:app-control>
    <ns1:application id="xvvl3S1bvH.TizenBrewStandalone" package="xvvl3S1bvH" required_version="3.0" />
    <ns0:author href="https://tizenbrew.vercel.app">Reis Can</ns0:author>
    <ns0:content src="tizenbrew-ui/dist/index.html" />
    <ns0:feature name="http://tizen.org/feature/screen.size.all" />
    <ns0:feature name="http://tizen.org/feature/web.service" />
    <ns0:icon src="icon.png" />
    <ns1:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true" />
    <ns1:metadata key="http://samsung.com/tv/metadata/floating.navigation" value="false" />
    <ns1:metadata key="http://samsung.com/tv/metadata/use.game.mode" value="true" />
    <ns1:metadata key="http://samsung.com/tv/metadata/use.uwe" value="true" />
    <ns1:metadata key="http://samsung.com/tv/metadata/no_use_process_pool" value="true" />
    <ns1:metadata key="multiview_support" value="true" />
    <ns1:metadata key="multiview_min_resource" value="FHD+" />
    <ns1:metadata key="http://samsung.com/tv/metadata/html5.4k.support" value="true" />
    <ns1:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true" />
    <ns1:metadata key="http://samsung.com/tv/metadata/microphone.support" value="1" />
    <ns1:metadata key="http://samsung.com/tv/metadata/microphone.area" value="open" />
    <ns0:name>TizenBrewNextGeneration</ns0:name>
    <ns1:privilege name="http://tizen.org/privilege/internet" />
    <ns1:privilege name="http://developer.samsung.com/privilege/network.public" />
    <ns1:privilege name="http://tizen.org/privilege/tv.inputdevice" />
    <ns1:privilege name="http://tizen.org/privilege/recorder" />
    <ns1:privilege name="http://tizen.org/privilege/mediacapture" />
    <ns1:privilege name="http://tizen.org/privilege/unlimitedstorage" />
    <ns1:privilege name="http://tizen.org/privilege/application.launch" />
    <ns1:profile name="tv-samsung" />
    <ns1:service id="xvvl3S1bvH.StandaloneService">
        <ns1:content src="service-nextgen/service/dist/index.js" />
        <ns1:name>TizenBrewService</ns1:name>
        <ns1:description>TizenBrewService</ns1:description>
    </ns1:service>
    <ns1:setting screen-orientation="landscape" context-menu="enable" background-support="enable" encryption="disable" install-location="auto" hwkey-event="enable" />
</ns0:widget>
